* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, Arial, Helvetica, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

#farm {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  gap: 8px;
  justify-content: center;
}

.tile {
    width: 80px;
    height: 80px;
    background: #7cfc98;
    border: 2px solid #2f7d32;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: sans-serif;
}
